@media screen and (max-width:576px) {
    *{
        padding:0px;
        margin:0px;
    }
    nav{
        width: auto;
        padding: 0 50px;
        padding-bottom: 30px;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo-container{
       margin-bottom: 20px;
       margin-top: 20px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-section{
        width:auto;
        padding: 0 50px;
        padding-top: 20px;
    }
    .banner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-button-container{
        margin-top: 20px;
        text-align: center;
    }
    .online-games-section{
        width:auto;
        padding: 0 50px;
    }
    .online-img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon-section{
        width:auto;
        padding: 0 150px;
    }
    .icon-main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
    }
    .icon-sub-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        width: auto;
        padding: 0 50px;
        padding-bottom: 20px;
        padding-top: 50px;
    }
    .shortcut{
        display: flex;
        flex-wrap: wrap;
    }
    .play-section{
        width: auto;
        padding: 0 50px;
    }
    .play-section-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .img{
        width: 60%;
        padding-top: 30%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .img img{
        width: 50%;
        
    }
    .img-container img{
        width: 100%;
    }
    .text-container{
        padding-bottom: 50px;
    }

    .games-section{
        width: auto;
        padding: 0 50px;
    }
    .games-section-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .games-section-container .text-container{
        text-align: center;
    }
    .games-section-container .text-container button{
        margin-top:20px
    }
    .games-section-container img{
        width: 100%;
    }
}
