@media screen and (max-width:576px) {
    *{
        padding: 0px;
        margin:0px;
    }
    nav{
        width: auto;
        padding: 0 50px;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-section{
        width:auto;
        padding: 0 50px;
    }
    .banner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .online-games-section{
        width:auto;
        padding: 0 50px;
    }
    .online-img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon-section{
        width:auto;
        padding: 0 150px;
    }
    .icon-main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
    }
    .icon-sub-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        width: auto;
        padding: 0 50px;
        padding-bottom: 20px;
        padding-top: 50px;
    }
    .shortcut{
        display: flex;
        flex-wrap: wrap;
    }

}