
.common-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.common-text-p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.common-text{
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;
    
}
/* nav styles */
nav{
    min-height: 130px;
    width: auto;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 240px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    align-items: center;
}
.logo-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo-container h3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.gamer{
    color: #FF42A5;
}
.logo-container img{
    width: 86px;
    height: 40px;
}
.follow-us-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 20px;
    width: 262px;
    height: 56px;
}
.follow-us-container img{
    height: 28px;
    width: 28px;

}
/* banner style */
.banner-section{
    padding: 0px 240px;
    min-height: 700px;
    width: auto;
    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position-x: left;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-img{
    width: 100%; 
}
#goat{
    font-family: 'Work Sans', sans-serif;
    font-size: 95px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}
.banner-text-container h1{
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-text-container p{
    text-align: left;
}

.btn-pink{
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background:#FF42A5;
    border:0px;
    color: white;
}   
.btn-blue{
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border:0px;
    color: white;  
}

/* online games section style */

.online-games-section{
    padding: 0px 240px;
    width: auto;

}
.online-games-container{
    margin-top: 80px;
}
.online-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.online-img-container img{
    width: 100%;
}
.online-text-container{
    text-align: center;
}
.online-text-container h1{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

/* icon section style */
.icon-section{
    padding: 0px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    min-height: 447px;
    width: auto;
}
.icon-main-container{
   display: flex;
   justify-content: center;
   align-items: center;
   /* display: grid;
   grid-template-columns: repeat(4, 1fr); */
   gap: 50px;
   flex-wrap: wrap;
   margin-top: 50px;
   padding-top: 40px;
}
.icon-sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 80px;
}
.icon-sub-container:hover{
    width: auto;
    height: 80px;
    border: 3px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px pink;
    background: #FFF;
    border-color: #F948B2;
    padding-left: 10px;
    padding-right: 10px;
}
.icon-main-container p{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* footer section style */
footer{
    min-height: 500px;
    padding: 0px 240px;
    background: #0B0223;
    padding-top: 120px;
}
.shortcut{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 60px;
    list-style: none;
    color: white;
    margin-top: 60px;
}
.shortcut li{
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.icon{
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    gap:60px;
    margin-top: 50px;
}
.icon img{
    height: 30px;
    width: 30px;
}
.privacy{
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    color: gray;
    gap: 60px;
    margin-top: 90px;
}
.privacy li{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.logo-container h1{
    color: white;
}
.copyright{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    padding-top: 60px;
}
